<div class="container mt-5">
  <h2 class="text-center mb-4">Gérer Catalogue</h2>

  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <button
        class="btn btn-warning btn-lg mb-3"
        (click)="navigateTo('admin/gestion-categorie')"
      >
        Gestion de catégorie
      </button>
    </div>
    <div class="col-md-4 text-center">
      <button
        class="btn btn-warning btn-lg"
        (click)="navigateTo('admin/gestion-produit')"
      >
        Gestion de produit
      </button>
    </div>
  </div>
</div>
