
<div class="blue-background">
  
  <div class="container mt-5">
    <h2>Gérer Catalogue</h2>

    <div class="row justify-content-center">
      <!-- Bouton Gestion de catégorie -->
      <div class="col-md-6 text-center mb-3">
        <button
          class="btn"
          (click)="navigateTo('admin/gestion-categorie')"
        >
          Gestion de catégorie
        </button>
      </div>

      <!-- Bouton Gestion de produit -->
      <div class="col-md-6 text-center">
        <button
          class="btn"
          (click)="navigateTo('admin/gestion-produit')"
        >
          Gestion de produit
        </button>
      </div>
    </div>
  </div>
</div>
