
.blue-background {
  background-color: #6ba9db;
  min-height: 100vh;
  padding-top: 20px;
}


.container {
  background-color: #508bb7;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}


button {
  background-color: #ffc107;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0a800;
  color: black;
}
