<div class="container mt-5">
  <h2 class="text-center mb-4">Mon Panier</h2>

  <table class="table table-bordered" *ngIf="produitsPanier.length > 0; else panierVide">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produitsPanier">
        <td>{{ produit.nom }}</td>
        <td>{{ produit.prix }} $</td>
        <td>
          <input
            type="number"
            [(ngModel)]="produit.quantite"
            (change)="modifierQuantite(produit)"
            min="1"
          />
        </td>
        <td>{{ produit.prix * produit.quantite! }} $</td>
        <td>
          <button class="btn btn-danger" (click)="supprimerDuPanier(produit.id!)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Message si le panier est vide -->
  <ng-template #panierVide>
    <p class="text-center">Votre panier est vide.</p>
  </ng-template>
</div>
